@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";
@plugin "daisyui" {
  themes: light --default, dark, forest --prefersdark, corporate;
}

.zoom {
  animation: zoom 1s ease-in-out;
}

.up {
  animation: slideIn 1s ease-in-out;
}

@keyframes zoom {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
